nav .pagination {
  height: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.item {
  border: 1px solid rgb(131, 243, 131);
  /* background-color: aqua; */
  width: 2rem;
  height: 2rem;
  border-radius: 0.3rem;
  /* margin: 1rem; */
}
.item:hover {
    background-color: rgba(131, 243, 131, .4);
}

.link {
  color: rgb(131, 243, 131);
  width: 100%;
  height: 100%;
  font-weight: bold;
  align-items: center;
  display: flex;
  justify-content: center;
}

