.form {
  bottom: 0rem;
  padding: 5%;
  background: linear-gradient(to right, #f482a1, #f0bb7c);
  display: flex;
  flex-direction: column;
}

.date {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.date > * {
    margin: 3px 0;
}

.datePicker {
  background-color: #f9f9f9;
  box-shadow: 0 1px 3px -2px #9098A9;
  cursor: pointer;
}

label {
  padding-left: .3rem;
}


.select{
  padding: 7px 40px 7px 12px;
  width: 100%;
  border: 1px solid #E8EAED;
  border-radius: 5px;
  background: #f9f9f9;
  box-shadow: 0 1px 3px -2px #9098A9;
  cursor: pointer;
  font-size: 16px;
}

