.dogsToWalk {
  max-width: 80rem;
  width: 90%;
  margin: 3rem auto;
}

.dogsToWalk ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  height: fit-content;
}

@media (max-width: 1000px) {
  .dogsToWalk ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .dogsToWalk ul {
    grid-template-columns: repeat(1, 1fr);
  }
}