.walk {
  max-width: 90%;
  padding: 0.7rem;
  border-radius: 0.4rem;
  background-color: #f9f9f9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove {
  background-color: rgb(223, 86, 86);
  min-width: 2rem;
  padding: .1rem 1rem;
  font: inherit;
  font-size: 1.5rem;
  color: white;
}

.remove:hover {
  background-color: rgb(190, 59, 59);
}


