.walks {
    list-style: none;
    max-width: 40rem;
    max-height: 15rem;
    overflow-y: auto;
  }
  
  .walks::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }
  .walks::-webkit-scrollbar
  {
    width: 10px;
    background-color: #F5F5F5;
  }
  .walks::-webkit-scrollbar-thumb
  {
    background-color: #5a3709;
    border: 2px solid #555555;
  }
  
  .close {
  background-color: #5a3709;
  color: #f9f9f9;
  margin-top: 0;
  min-width: 1rem;
  border-radius: 15px;
  position: sticky;
  left: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border: none;
}

.close:hover {
  background-color: rgb(223, 86, 86);
}

.accept {
  justify-self: flex-end;
  border-radius: 15px;
  border: 1px solid #cfcdcd;
  background: linear-gradient(to left, rgb(131, 243, 131), rgb(60, 202, 60));
  min-width: 15rem;
  position: sticky;
  left: 60%;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}

.accept:hover {
  background: linear-gradient(to left, rgb(89, 236, 89), rgb(22, 187, 22));
}
